* {
    padding: 0;
    margin:  0;
}

a:link {
    font-size: 14px;
    font-family: "DejaVu Sans Mono", "Courier New", monospace, sans, verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #ffcc00;
}
a:visited {
    font-size: 14px;
    font-family: "DejaVu Sans Mono", "Courier New", monospace, sans, verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #ffcc00;
}
a:hover {
    font-size: 14px;
    font-family: "DejaVu Sans Mono", "Courier New", monospace, sans, verdana, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: #ffcc00;
    text-shadow: 1px 1px 10 #fff;
}
a:active {
    font-size: 14px;
    font-family: "DejaVu Sans Mono", "Courier New", monospace, sans, verdana, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: #ffcc00;
}

a.footer:link {
    font-size: 10px;
    text-decoration : none;
    color : #0000ff;
    font-weight: bold;
    display: block;
}
a.footer:visited {
    font-size: 10px;
    text-decoration : none;
    color : #0000ff;
    font-weight: bold;
    display: block;
}
a.footer:hover {
    font-size: 10px;
    text-decoration : none;
    color : #0000ff;
    font-weight: bold;
    display: block;
}
a.footer:active {
    font-size: 10px;
    text-decoration : none;
    color : #0000ff;
    font-weight: bold;
    display: block;
}

a.listview:link {
    font-size: 14px;
    font-family: "DejaVu Sans Mono", "Courier New", monospace, sans, verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #0000ff;
}

a.listview:visited {
    font-size: 14px;
    font-family: "DejaVu Sans Mono", "Courier New", monospace, sans, verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #0000ff;
}

a.listview:hover {
    font-size: 14px;
    font-family: "DejaVu Sans Mono", "Courier New", monospace, sans, verdana, Arial, Helvetica, sans-serif;
    text-decoration:underline;
    color: #0000ff;
}

a.listview:active {
    font-size: 14px;
    font-family: "DejaVu Sans Mono", "Courier New", monospace, sans, verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #0000ff;
}

body {
    background-color: #666666;
    font-family: "DejaVu Sans Mono", "Courier New", monospace, sans, verdana;
    font-size: 14px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

div.container {
    width: 500px;
    margin: 0 auto;
    overflow-x:auto;
}

div.container_error {
    width: 400px;
    margin: 0 auto;
    overflow-x:auto;
}

div.vertical_center {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -250px;
    margin-top: -200px;
}

fieldset.container {
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    background:         #333;
    border:             #000 solid 1px;
    margin:             10px;
    padding-top:        1em;
    padding-left:       1em;
    padding-right:      1em;
    padding-bottom:     2em;

    -moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
}

fieldset.top {
    margin-top:         10px;
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    padding: 20px;
    border: #aaa solid 1px;
    border-bottom: none	;
    background: #8fb3d4;
    background: -webkit-gradient(linear, left top, left bottom, from(#8fb3d4), to(#6d91b2));
    background: -moz-linear-gradient(top, #8fb3d4, #6d91b2);
    background: -o-linear-gradient(top, #8fb3d4, #6d91b2);

    text-shadow: 1px 1px 3px #000;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    -moz-box-shadow: 1px 1px 2px #fff inset;
    -webkit-box-shadow: 1px 1px 2px #fff inset;
    box-shadow: 1px 1px 2px #fff inset;
}

fieldset.middle {
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    padding: 5px;
    border: #aaa solid 1px;
    padding: 20px;
    background: #eee;
    -moz-box-shadow: 1px 1px 2px #fff inset;
    -webkit-box-shadow: 1px 1px 2px #fff inset;
    box-shadow: 1px 1px 2px #fff inset;
}


fieldset.bottom {
    margin-top:         0em;
    border-radius:0 0 6px 6px;
    -moz-border-radius:0 0 6px 6px;
    -webkit-border-radius:0 0px 6 6px;
    border:             #aaa solid 1px;
    border-top:         0px;
    padding:            20px;
    background:         #cccccc;
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#aaaaaa));
    background: -moz-linear-gradient(top, #cccccc, #aaaaaa);
    background: -o-linear-gradient(top,  #cccccc,  #aaaaaa);
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    -moz-box-shadow: 1px 1px 2px #fff inset;
    -webkit-box-shadow: 1px 1px 2px #fff inset;
    box-shadow: 1px 1px 2px #fff inset;
}

input {
    font-size : 14px;
    font-family: "DejaVu Sans Mono", "Courier New", monospace;
}

input[type=password]{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;


    font-size : 16px;
    border:1px solid #aaa;
    color:#000000;
    padding:10px;
    margin:6px;
}

input[type=password]:focus{
    border:1px solid #3399ff;

    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
    
}

input[type=submit]{

    font-weight:bold;
    margin-left:14px;
    border: 1px solid #aaa;
    padding: 3px 7px;
    color: #111;
    text-decoration: none;
    background-color: #eeeeee;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

    text-shadow: 0px 1px 0px #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
    background: -o-linear-gradient(top,  #ffffff,  #cccccc);

}


input[type=submit]:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#cccccc));
    background: -moz-linear-gradient(top,  #aaaaaa,  #cccccc);
    background: -o-linear-gradient(top,  #aaaaaa,  #cccccc);
    cursor:pointer;
}

input[type=submit]:active{
    position: relative;
    top: 1px;
    left: 1px;
}

input[type=text]{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

    font-size : 16px;
    border:1px solid #aaa;
    color:#000000;
    padding:10px;
    margin:6px;
}

input[type=text]:focus{
    border:1px solid #3399ff;

    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
    
}

.messageError {
    margin: 10px;
    padding: 10px;
    border: medium solid #990000;
    border-collapse: collapse;
    background-color: #aa3333;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa3333), to(#cc3333));
    background: -moz-linear-gradient(top,  #aa3333,  #cc3333);
    background: -o-linear-gradient(top,  #aa3333,  #cc3333);
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #cc3333;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.messageInfo {
    margin: 10px;
    padding: 10px;
    border: medium solid #3366cc;
    border-collapse: collapse;
    background:         #8fb3d4;
    background:         #76aadb;
    background:         #3399ff;
    background:         #cccccc;
    background-color: #76aadb;
    color: #000000;
    font-size: 16px;
    text-shadow: 1px 1px 1px #6f93d4;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    
}

.messageSystem {
    margin: 10px;
    padding: 10px;
    border: medium solid #006600;
    border-collapse: collapse;
    background-color: #66cc66;
    background: -webkit-gradient(linear, left top, left bottom, from(#66cc66), to(#66aa66));
    background: -moz-linear-gradient(top,  #66cc66,  #66aa66);
    background: -o-linear-gradient(top,  #66cc66,  #66aa66);
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #00cc00;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.messageTip {
    margin: 10px;
    padding: 10px;
    border: medium solid #d2cd54;
    border-collapse: collapse;
    background-color: #fffacc;
    color: #000000;
    font-size: 16px;
    text-shadow: 1px 1px 1px #ffffff;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
