* {
    padding: 0;
    margin:  0;
}

.HeaderBanner {
    padding-left: 40px;
    padding-top: 30px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-image: url('../images/head-banner.jpg');
    background-repeat: repeat-x;
    height: 70px;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
}

.HeaderBanner span {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
}

.HeaderMenu {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 35px;
    font-size: 14px;
    background-color: #eeeeee;
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff));
    background: -moz-linear-gradient(top,  #cccccc,  #ffffff);
    background: -o-linear-gradient(top,  #cccccc,  #ffffff);

    -moz-box-shadow: 0px 0px 6px #666 inset;
    -webkit-box-shadow: 0px 0px 6px #666 inset;
    box-shadow: 0px 0px 6px #666 inset;
}

.HeaderPageTitle {
    border-top: none;
    border-bottom: #6674b0 solid 2px;
    border-left: none;
    border-right: none;
    text-align: left;
    padding-top: 1em;
    padding-left: 5em;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #cccccc;
    text-shadow: 2px 2px 1px #000000;
    background-color: #fff38d;
    background-color: #00a257;
    background-color: #0074b0;
    -moz-box-shadow: 0px 0px 6px #666 inset;
    -webkit-box-shadow: 0px 0px 6px #666 inset;
    box-shadow: 0px 0px 6px #666 inset;
}

.Footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: #ffffff solid 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
    text-align: left;
    font-size: 10px;
    color: #555555;
}

.Content {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    min-height: 500px;
    -moz-box-shadow: 0px 0px 6px #666 inset;
    -webkit-box-shadow: 0px 0px 6px #666 inset;
    box-shadow: 0px 0px 6px #666 inset;
    color: #000000;
    background-color: #424242;
    font-family: monospace, sans, verdana;
    font-size: 14px;
    text-align: left;
}

a:link {
    font-size: 14px;
    font-family: monospace, sans, verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #ffcc00;
}
a:visited {
    font-size: 14px;
    font-family: monospace, sans, verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #ffcc00;
}
a:hover {
    font-size: 14px;
    font-family: monospace, sans, verdana, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: #ffcc00;
    text-shadow: 1px 1px 10 #fff;    	
}
a:active {
	font-size: 14px;
	font-family: monospace, sans, verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #ffcc00;
}

a.footer:link {
	font-size: 10px;
    text-decoration : none;
    color : #0000ff;
	font-weight: bold;    
    display: block;
}
a.footer:visited {
	font-size: 10px;
    text-decoration : none;
    color : #0000ff;
	font-weight: bold;    
    display: block;
}
a.footer:hover {
	font-size: 10px;
    text-decoration : none;
    color : #0000ff;
	font-weight: bold;    
    display: block;
}
a.footer:active {
	font-size: 10px;
    text-decoration : none;
    color : #0000ff;
 	font-weight: bold;    
    display: block;
}


a.menu:link {
    text-decoration : none;
    color : #0000ff;
	font-weight: bold;    
    display: block;
}
a.menu:visited {
    text-decoration : none;
    color : #0000ff;
	font-weight: bold;    
    display: block;
}
a.menu:hover {
    text-decoration : none;
    color : #0000ff;
	font-weight: bold;    
    display: block;
}
a.menu:active {
    text-decoration : none;
    color : #0000ff;
 	font-weight: bold;    
    display: block;
}

a.linkCC:link {
    display: block;
	padding: 4px;
	padding-bottom: 10px;
	text-decoration:none;
	color: #33abff;
    border: #eeeeee solid 1px;
}
a.linkCC:visited {
    display: block;
    padding: 4px;
    padding-bottom: 10px;
    text-decoration:none;
    color: #33abff;
    border: #eeeeee solid 1px;
}
a.linkCC:hover {
    display: block;
    padding: 4px;
    padding-bottom: 10px;
    text-decoration:none;
    background-color: #f9ff63;
    color: #0066ff;
    border: #cccccc solid 1px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}
a.linkCC:active {
    display: block;
    padding: 4px;
    padding-bottom: 10px;
    text-decoration:none;
    color: #0066ff;
    border: #eeeeee solid 1px;
}

body {
    background-color: #666666;
    font-family: monospace, sans, verdana;
    font-size: 14px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

div.superUltraHyperMegaOMFGBBQContainer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    background-color: #999999;
}

div.container_mid {
    width: 500px;
    margin: 0 auto;
    overflow-x:auto;
}

div.container_mid_prompt {
    width: 750px;
    margin: auto;
    margin-top:50px;
    overflow-x:auto;
}

div.container_mid_small {
    width: 300px;
    overflow-x:auto;
    margin: 0 auto;
    overflow-x:auto;
}

div.container_mid_large {
    width: 600px;
    margin: 0 auto;
    overflow-x:auto;
}

div.container_mid_huge {
    width: 750px;
    margin: 0 auto;
    overflow-x: auto;
}

div.container_mid_huge2 {
    width: 950px;
    margin: 0 auto;
    overflow-x:auto;
}

div.container_footer {
    width: 500px;
    margin: 0 auto;
}

div.user_badge {
    position: absolute;
    width: 94px;
    top: 10px;
    right: 30px;
}

fieldset {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #eee;
}

fieldset.container {
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    background:         #000;
    border:             #000 solid 1px;
    margin:             10px;
    padding-top:        1em;
    padding-left:       1em;
    padding-right:      1em;
    padding-bottom:     2em;

    -moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
}

fieldset.top {
    margin-top:         1em;
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    padding: 10px;
    border: #aaa solid 1px;
    border-bottom: none;
    background: #cccccc;
    background: #3399ff;
    background: #76aadb;
    background: #8fb3d4;

    text-shadow: 1px 1px 3px #000;
    font-size: 18px;
    color: #ffffff;
    -moz-box-shadow: 1px 1px 2px #fff inset;
    -webkit-box-shadow: 1px 1px 2px #fff inset;
    box-shadow: 1px 1px 2px #fff inset;
}

fieldset.middle {
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    padding: 5px;
    border: #aaa solid 1px;
    padding: 1.5em;
    background: #eee;
    -moz-box-shadow: 1px 1px 2px #fff inset;
    -webkit-box-shadow: 1px 1px 2px #fff inset;
    box-shadow: 1px 1px 2px #fff inset;
}


fieldset.bottom {
    margin-top:         0em;
    border-radius:0 0 6px 6px;
    -moz-border-radius:0 0 6px 6px;
    -webkit-border-radius:0 0px 6 6px;
    border:             #aaa solid 1px;
    border-top:         0px;
    padding:            1.5em;
    background:         #8fb3d4;
    background:         #76aadb;
    background:         #3399ff;
    background:         #cccccc;
    text-shadow: 0 1px 0 #fff;
    text-align: right;
    -moz-box-shadow: 1px 1px 2px #fff inset;
    -webkit-box-shadow: 1px 1px 2px #fff inset;
    box-shadow: 1px 1px 2px #fff inset;
}


fieldset.middle_top {
    margin-top:         1em;
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border:             #aaa solid 1px;
    padding:            1.5em;
    background:         #eee;
    text-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 1px 1px 2px #fff inset;
    -webkit-box-shadow: 1px 1px 2px #fff inset;
    box-shadow: 1px 1px 2px #fff inset;
}

fieldset.success_prompt {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 10px;
    border: medium solid #006600;
    background-color: #66cc66;
    background: -webkit-gradient(linear, left top, left bottom, from(#66cc66), to(#66aa66));
    background: -moz-linear-gradient(top,  #66cc66,  #66aa66);
    background: -o-linear-gradient(top,  #66cc66,  #66aa66);
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #00cc00;
}


fieldset legend {
    font-family: monospace;
    font-weight:        bold;
    color:              #444;
    padding:5px 10px;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border:1px solid #aaa;
    background-color:   #fff;
    -moz-box-shadow:3px 3px 15px #bbb;
    -webkit-box-shadow:3px 3px 15px #bbb;
    box-shadow:3px 3px 15px #bbb;
}

fieldset.user_badge {
    padding: 7px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #666;
    background-color: #0074b0;
    background: -webkit-gradient(linear, left top, left bottom, from(#00a257), to(#0074b0));
    background: -moz-linear-gradient(top,  #00a257, #0074b0);
    background: -o-linear-gradient(top,  #00a257, #0074b0);
    -moz-box-shadow: 1px 1px 4px #000;
    -webkit-box-shadow: 1px 1px 4px #000;
    box-shadow: 1px 1px 4px #000;
}


img {
    border-style: none;
}

input {
    font-size : 14px;
    font-family: monospace;
}

input[type=button]{
    font-weight:bold;
    margin-left:14px;
    border: 1px solid #aaa;
    padding: 3px 7px;
    color: #111;
    text-decoration: none;
    background-color: #eeeeee;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

    text-shadow: 0px 1px 0px #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
    background: -o-linear-gradient(top,  #ffffff,  #cccccc);
}


input[type=button]:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#cccccc));
    background: -moz-linear-gradient(top,  #aaaaaa,  #cccccc);
    background: -o-linear-gradient(top,  #aaaaaa,  #cccccc);
    cursor:pointer;
}

input[type=button]:active{	
    position: relative;
    top: 1px;
    left: 1px;
}

input[type=checkbox]{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

    border:1px solid #aaa;
    color:#000000;
    padding:4px;
    margin:6px;
}

input[type=checkbox]:focus{
    border:1px solid #3399ff;

    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
    
}


input[type=password]{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

    border:1px solid #aaa;
    color:#000000;
    padding:4px;
    margin:6px;
}

input[type=password]:focus{
    border:1px solid #3399ff;

    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
    
}

input[type=radio]{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

    border:1px solid #aaa;
    color:#000000;
    padding:4px;
    margin:6px;
}

input[type=radio]:focus{
    border:1px solid #3399ff;

    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
    
}

input[type=submit]{

    font-weight:bold;
    margin-left:14px;
    border: 1px solid #aaa;
    padding: 3px 7px;
    color: #111;
    text-decoration: none;
    background-color: #eeeeee;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

    text-shadow: 0px 1px 0px #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
    background: -o-linear-gradient(top,  #ffffff,  #cccccc);

}


input[type=submit]:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(#cccccc));
    background: -moz-linear-gradient(top,  #aaaaaa,  #cccccc);
    background: -o-linear-gradient(top,  #aaaaaa,  #cccccc);
    cursor:pointer;
}

input[type=submit]:active{
    position: relative;
    top: 1px;
    left: 1px;
}


input[type=submit].cancel:hover {
    text-shadow: 0px 0px 0px #fff;
    border: 1px solid #ff9900;
    background-color: #ff3333;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff3333), to(#aa0000));
    background: -moz-linear-gradient(top,  #ff9999,  #cc0000);
    background: -o-linear-gradient(top,  #ff3333,  #aa0000);
    cursor:pointer;
}

input[type=submit].submit:hover {
    text-shadow: 0px 0px 0px #fff;
    border: 1px solid #2aff1a;
    background-color: #95ff8d;
    background: -webkit-gradient(linear, left top, left bottom, from(#95ff8d), to(#279918));
    background: -moz-linear-gradient(top,  #95ff8d, #279918);
    background: -o-linear-gradient(top,  #95ff8d, #279918);
    cursor:pointer;
}


input[type=text]{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

    border:1px solid #aaa;
    color:#000000;
    padding:4px;
    margin:6px;
}

input[type=text]:focus{
    border:1px solid #3399ff;

    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
    
}

ol.normal {
    padding-left:20px;
    margin-left: 10px;
}

p.detail_view {
    margin: 8px;
    width: 200px; 
    word-wrap: normal;
}

.listRowEven {
    background-color: #eeeeee;
}

.listRowEven:hover {
    background-color: #f9ff63;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcffa3), to(#f9ff63));
    background: -moz-linear-gradient(top,  #fcffa3,  #f9ff63);
    background: -o-linear-gradient(top,  #fcffa3,  #f9ff63);    
}

.listRowHead {
    background-color: #336699;
    font-weight: bold;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#336699), to(#99ccff));
    background: -moz-linear-gradient(top,  #336699,  #99ccff);
    background: -o-linear-gradient(top,  #336699,  #99ccff);
}

.listRowOdd {
    background-color: #dddddd;
}

.listRowOdd:hover {
	background-color: #f9ff63;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcffa3), to(#f9ff63));
    background: -moz-linear-gradient(top,  #fcffa3,  #f9ff63);
    background: -o-linear-gradient(top,  #fcffa3,  #f9ff63);
}


.messageError {
    margin: 10px;
    padding: 10px;
    border: medium solid #990000;
    border-collapse: collapse;
    background-color: #aa3333;




    background: -webkit-gradient(linear, left top, left bottom, from(#aa3333), to(#cc3333));
    background: -moz-linear-gradient(top,  #aa3333,  #cc3333);
    background: -o-linear-gradient(top,  #aa3333,  #cc3333);
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #cc3333;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;

}

.messageInfo {
    margin: 10px;
    padding: 10px;
    border: medium solid #3366cc;
    border-collapse: collapse;
    background:         #8fb3d4;
    background:         #76aadb;
    background:         #3399ff;
    background:         #cccccc;
    background-color: #76aadb;

    font-size: 16px;
    text-shadow: 1px 1px 1px #6f93d4;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    
}

.messageSystem {
    margin: 10px;
    padding: 10px;
    border: medium solid #006600;
    border-collapse: collapse;
    background-color: #66cc66;
    background: -webkit-gradient(linear, left top, left bottom, from(#66cc66), to(#66aa66));
    background: -moz-linear-gradient(top,  #66cc66,  #66aa66);
    background: -o-linear-gradient(top,  #66cc66,  #66aa66);
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #00cc00;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.messageTip {
    margin: 10px;
    padding: 10px;
    border: medium solid #d2cd54;
    border-collapse: collapse;
    background-color: #fffacc;

    font-size: 16px;
    text-shadow: 1px 1px 1px #ffffff;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}


select {
    font-size: 14px;
    padding: 4px;
    margin: 6px;
}

span.graytext {
    color: #cccccc;
}

table {
    border-collapse: collapse;
}

table.input_form td {
    vertical-align: middle;
}

table.listView {
    margin-top: 5px;
    margin-bottom: 5px;
}

table.listView td {
    padding: 2px;
    padding-left: 10px;
}

table.listView tr[class=listRowHead] td {
    padding-top:    15px;
    padding-bottom: 15px;
    padding-left:   10px;
}

textarea {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

    border:1px solid #aaa;
    color:#000000;
    padding:4px;
    margin:6px;
}

textarea:focus{
    border:1px solid #3399ff;

    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
}

td {

}

td.menu {
    padding: 8px;
}

td.menu:hover {
    background-color: #ffffff;
    -moz-box-shadow: 1px 1px 3px #666666 inset;
    -webkit-box-shadow: 1px 3px 1px #666666 inset;
    box-shadow: 1px 1px 3px #666666 inset;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}


